.sidebar{
    padding-bottom:4px;
}

.sidebar dl{

}
.singerInfo  a.allSong{
    text-indent:22px;
    background:url(../images/icons.gif) 2px -657px no-repeat;
}
.singerInfo a.allAlbum{
    text-indent:22px;
    background:url(../images/icons.gif) 2px -694px no-repeat;
}
.nexusUser ul{
    width:204px;
    margin:0px auto;
    padding:10px 2px 6px;
}
.nexusUser ul li{
    width:68px;
    height:82px;
    float:left;
    overflow:hidden;
    padding-bottom:8px;
}
.nexusUser ul li a{
    width:68px;
    height:68px;
    text-align:center;
    display:block;
    cursor:pointer;
    color:#444;
}
.nexusUser ul li a:hover{
    color:#F30;
}
.nexusUser ul li a .userpic{
    display:block;
    width:48px;
    height:48px;
    margin:0px auto;
}
.nexusUser ul li a .username{
    display:block;
    width:68px;
    height:20px;
    margin:0px auto;
    line-height:21px;
    text-align:center;
    overflow:hidden;
}
.nexusUser ul li span.usercity{
    display:block;
    width:68px;
    line-height:15px;
    text-align:center;
    overflow:hidden;
    color:#888;
}
.hotSong{
    margin:5px auto;
}
.hotSong ul{
    width:212px;
    overflow:hidden;
    margin:0px auto;
}
.hotSong ul li{
    height:31px;
    line-height:32px;
    border-top:1px solid #EEE;
    margin-top:-1px;
    overflow:hidden;
}
.hotSong ul li input{
    padding:0px;
    float:left;
    margin:5px 2px 0px 0px;
    vertical-align:middle;
    font-size:12px;
}
.hotSong ul li input[type='checkbox']{
    margin:9px 5px 0px 6px;
    +margin:5px 2px 0px;
}
.hotSong ul li a.songName{
    width:152px;
    float:left;
    height:32px;
    color:#333;
    overflow:hidden;
    color:#666;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.hotSong ul li a.songName:hover{
    color:#F30;
}
.hotSong ul li p.action{
    width:32px;
    height:10px;
    background:#FFF;
    float:right;
    overflow:hidden;
    margin-top:10px;
}
.hotSong ul li p.action a{
    width:10px;
    height:0px;
    padding-top:10px;
    overflow:hidden;
    float:left;
    margin-right:6px;
}
.hotSong ul li p.action a.play{
    background:url(../images/icons.gif) left -322px no-repeat;
}
.hotSong ul li p.action a.add{
    background:url(../images/icons.gif) left -350px no-repeat;
}
.hotSong .listAction{
    width:206px;
    height:24px;
    margin:0px auto;
    padding:2px 0px 3px;
    overflow:hidden;
}
.listAction a{
    height:0px;
    padding-top:24px;
    float:left;
    margin-right:0px;
    overflow:hidden;
    background-repeat:no-repeat;
    background-image:url(../images/listAction.png);
}
.listAction a.select{
    width:72px;
    background-position:-26px -54px;
}
.listAction a.select:hover{
    background-position:-26px -78px;
}
.listAction a.play{
    width:56px;
    background-position:-98px -54px;
}
.listAction a.play:hover{
    background-position:-98px -78px;
}
.listAction a.add{
    width:78px;
    background-position:-154px -54px;
}
.listAction a.add:hover{
    background-position:-154px -78px;
}

.hotAlbum ul{
    width:210px;
    margin:0px auto;
    padding-top:6px;
}
.hotAlbum ul li{
    width:105px;
    height:124px;
    float:left;
    text-align:center;
    line-height:24px;
    overflow:hidden;
}
.hotAlbum ul li a.albumPic{
    width:88px;
    height:88px;
    display:block;
    margin:0px auto;
    background:url(../images/album_bg_88.png) no-repeat;
    padding:2px 4px 4px;
}
.hotAlbum ul li a.albumPic img{
    width:88px;
    height:88px;
}
.hotAlbum ul li a.albumName{
    display:block;
    width:96px;
    margin:0px auto;
    text-align:center;
    height:19px;
    line-height:19px;
    overflow:hidden;
    padding-top:3px;
}

.albumPic_300{
    width:300px;
    height:300px;
    float:left;
    background:url(../images/album_bg_300.png) 10px 10px no-repeat;
    padding:16px 10px 10px 34px;
    overflow:hidden;
}
.albumInfo{
    width:378px;
    float:left;
    overflow:hidden;
    padding:18px 0px 0px 8px;
}
.albumInfo dl, .albumInfo .dash{
    width:378px;
    height:30px;
    line-height:30px;
    overflow:hidden;
    padding-left:8px;
    background:url(../images/dashed_x.gif) left bottom repeat-x;
}
.albumInfo .dash{
    height:1px;
    overflow:hidden;
}
.albumInfo dl dt{
    width:68px;
    height:35px;
    overflow:hidden;
    float:left;
    color:#999;
}
.albumInfo dl dd{
    width:292px;
    height:35px;
    float:left;
    overflow:hidden;
    text-indent:4px;
    font-size:14px;
}
.albumAction{
    width:378px;
    float:left;
    overflow:hidden;
    padding:0px 0px 0px 8px;
}
.albumAction dl{
    width:378px;
    height:35px;
    line-height:34px;
    overflow:hidden;
    padding-left:8px;
    background:url(../images/dashed_x.gif) left bottom repeat-x;
}
.albumAction dl dt{
    width:68px;
    height:35px;
    overflow:hidden;
    float:left;
    color:#999;
}
.albumAction dl dd{
    width:292px;
    height:35px;
    float:left;
    overflow:hidden;
    font-size:14px;
}
.albumAction dl dd p{
    font-size:12px;
}
.albumAction dl dd .Count{
    float:right;
    color:#999;
}
.albumAction .grade .stars{
    position:relative;
    width:80px;
    height:13px;
    float:left;
    background:url(../images/rating.gif) bottom left repeat-x;
    overflow:hidden;
    margin-top:9px;
}
.albumAction .grade .stars a{
    display:block;
    width:16px;
    height:13px;
    overflow:hidden;
    text-indent:-1000px;
    position:absolute;
    top:0px;
    z-index:3;
}
.albumAction .grade .stars a:hover{
    background:url(../images/rating.gif) top left repeat-x;
    z-index:2;
    left:0px;
}
.albumAction .grade .stars span.rating{
    width:40px;
    height:13px;
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    text-indent:-1000px;
    background:url(../images/rating.gif) top left repeat-x;
    overflow:hidden;
    z-index:1;
}
.albumAction .grade .stars a.star_1{
    left:0px;
}
.albumAction .grade .stars a.star_1:hover{
    left:0px;
    width:16px;
}
.albumAction .grade .stars a.star_2{
    left:16px;
}
.albumAction .grade .stars a.star_2:hover{
    left:0px;
    width:32px;
}
.albumAction .grade .stars a.star_3{
    left:32px;
}
.albumAction .grade .stars a.star_3:hover{
    left:0px;
    width:48px;
}
.albumAction .grade .stars a.star_4{
    left:48px;
}
.albumAction .grade .stars a.star_4:hover{
    left:0px;
    width:64px;
}
.albumAction .grade .stars a.star_5{
    left:64px;
}
.albumAction .grade .stars a.star_5:hover{
    left:0px;
    width:80px;
}

.albumAction  .fav .favAlbum{
    float:left;
    padding-left:24px;
    background:url(../images/icons.gif) 5px -210px no-repeat;
}
.albumAction .play{
    height:52px;
    clear:both;
}
.albumAction .play dd{
    padding:4px 0;
    height:42px;
}
.albumAction .play .playAlbum{
    float:left;
    text-indent:52px;
    height:39px;
    line-height:39px;
    display:block;
    background:url(../images/album_play.gif) 0px 50% no-repeat;
    font-size:16px;
}
.albumAction .play .addAlbum{
    float:left;
    text-indent:54px;
    height:39px;
    line-height:39px;
    background:url(../images/icons.gif) 39px 16px no-repeat;
    font-size:16px;
}

.albumIntro{
    width:700px;
    margin:0px auto;
    clear:both;
    padding:6px 10px;
}
.albumIntro h3{
    display:block;
    font-size:12px;
    line-height:25px;
    padding-left:14px;
    background:url(../images/icons.gif) 2px -54px no-repeat;
}
.albumIntro .description{
    padding:0px 0px 4px 16px;
    line-height:21px;
    color:#666;
    font-size:12px;
}
.albumIntro a.more{
    padding-left:2px;
    line-height:21px;
    float:right;
}
.albumTags{
    width:700px;
    margin:0px auto;
    clear:both;
    padding:6px 12px;
    overflow:hidden;
}
.albumTags h3{
    display:block;
    font-size:12px;
    line-height:25px;
    padding-left:14px;
    background:url(../images/icons.gif) 2px -54px no-repeat;
    float:left;
}
.albumTags p{
    line-height:25px;
}
.albumTags p a{
    margin:0px 2px 0px 6px;
}
.albumShare{
    width:700px;
    margin:0px auto;
    clear:both;
    padding:6px 12px;
    overflow:hidden;
}
.albumShare h3{
    display:block;
    font-size:12px;
    line-height:25px;
    padding-left:14px;
    background:url(../images/icons.gif) 2px -54px no-repeat;
    float:left;
}
.albumShare p{
    line-height:25px;
}
.albumShare p span{
    float:left;
    padding:0px 4px 0px 24px;
    background-image:url(../images/ico_share.png);
    background-repeat:no-repeat;
}
.albumShare p span.qq{
    background-position:4px 4px;
}
.albumShare p span.qzone{
    background-position:4px -373px;
}
.albumShare p span.tqq{
    background-position:4px -410px;
}
.albumShare p span.baidu{
    background-position:4px -33px;
}
.albumShare p span.kaixin{
    background-position:4px -72px;
}
.albumShare p span.xiaonei{
    background-position:4px -109px;
}
.albumShare p span.douban{
    background-position:4px -146px;
}
.albumShare p span.sina{
    background-position:4px -184px;
}
.albumShare p span.myspace{
    background-position:4px -221px;
}
.albumShare p span.del_us{
    background-position:4px -259px;
}
.albumShare p span.tsohu{
    background-position:4px -297px;
}
.albumShare p span.t163{
    background-position:4px -336px;
}
.cTitle p.buyalbum{
    padding-left:24px;
    background:url(../images/icons.gif) 6px -1029px no-repeat;
    border-left:1px solid #DDD;
}
.songList{
    width:720px;
    margin:0px auto;
    border-bottom:1px solid #EEE;
}
.songList thead td{
    height:24px;
    line-height:24px;
    color:#AAA;
    border-bottom:1px solid #EEE;
    padding:2px 4px;
}
.songList thead td.songId{
    width:32px;
    text-align:right;
}
.songList thead td.songTitle{
    padding-left:30px;
}
.songList thead td.songAction p{
    float:right;
}
.songList thead td.songAction p span{
    width:24px;
    float:left;
    padding-right:8px;
}
.songList tbody td{
    height:27px;
    line-height:27px;
    padding:2px 4px;
    border-bottom:1px solid #F7F7F7;
}
.songList tbody td.songId{
    width:24px;
    text-align:right;
    font-size:11px;
    color:#999;
    padding-right:8px;
}
.songList tbody td.songTitle{
    padding-left:4px;
}
.songList tbody td.songTitle input{
    padding:0px;
    float:left;
    margin:3px 2px 0px 0px;
    vertical-align:middle;
    font-size:12px;
}
.songList tbody td.songTitle input[type='checkbox']{
    margin:7px 5px 0px 6px;
    +margin:3px 2px 0px;
}
.songList tbody td.songTitle a{
    margin-right:12px;
    float:left;
    font-size:14px;
    padding-left:4px;
    max-width:460px;
}
.songList tbody td.songTitle small{
    font-size:12px;
    color:#999;
    float:left;
}
.songList tbody td.songAction{
}
.songList tbody td.songAction p{
    float:right;
}
.songList tbody td.songAction p a{
    width:17px;
    height:0px;
    padding-top:16px;
    margin-right:12px;
    margin-left:3px;
    float:left;
    overflow:hidden;
    background-repeat:no-repeat;
    background-image:url(../images/songAction.gif);
}
.songList tbody td.songAction p a.play{
    background-position:0px 0px;
}
.songList tbody td.songAction p a.fav{
    background-position:-17px 0px;
}
.songList tbody td.songAction p a.lrc{
    background-position:-34px 0px;
}
.songList tbody td.songAction p a.down{
    background-position:-51px 0px;
}
.songList tbody td.songAction p a.ring{
    background-position:-68px 0px;
}
.songList tbody td.songAction p a.share{
    background-position:-85px 0px;
}

.songlistAction{
    height:27px;
    margin:0px auto;
    padding:8px 0px 16px;
    overflow:hidden;
    width:100%;
    clear:both;
}
.songlistAction p{
    float:right;
    padding:0px 8px;
}
.songlistAction a{
    height:0px;
    padding-top:26px;
    float:left;
    margin-right:2px;
    overflow:hidden;
    background-repeat:no-repeat;
    background-image:url(../images/listAction.png);
}
.songlistAction a.select{
    width:82px;
    background-position:0px 0px;
}
.songlistAction a.select:hover{
    background-position:0px -27px;
}
.songlistAction a.play{
    width:62px;
    background-position:-82px 0px;
}
.songlistAction a.play:hover{
    background-position:-82px -27px;
}
.songlistAction a.add{
    width:88px;
    background-position:-144px 0px;
}
.songlistAction a.add:hover{
    background-position:-144px -27px;
}


.albumList{
    width:720px;
    margin:0px auto;
    clear:both;
    padding:12px 0px 6px;
    overflow:hidden;
}
.albumList ul li{
    width:180px;
    height:216px;
    overflow:hidden;
    float:left;
    position:relative;
    padding:8px 0px 4px;
}
.albumList ul li a.albumLink{
    width:150px;
    padding:2px 4px;
    overflow:hidden;
    background:url(../images/album_bg_150.png) no-repeat;
    display:block;
    margin:0px auto;
    text-align:center;
}
.albumList ul li a.albumLink img{
    width:150px;
    height:150px;
    margin-bottom:12px;
    display:block;
}
.albumList ul li a.albumLink span.albumName{
    display:block;
    width:150px;
    text-align:center;
    cursor:pointer;
    line-height:17px;
    font-size:14px;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.albumList ul li a.albumPlay{
    display:block;
    width:25px;
    height:25px;
    position:absolute;
    top:132px;
    right:20px;
    color:#FFF;
    text-indent:-9999px;
    letter-spacing:1px;
    background:url(../images/btn_album_play.png) right top no-repeat;!important;
    _background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/v5/r4/images/btn_album_play.png',sizingMethod='crop');
    cursor:pointer;
    overflow:hidden;
}
.albumList ul li a.albumPlay:hover{
    width:84px;
    text-decoration:none;
    background:url(../images/btn_album_play_hover.png) right top no-repeat;!important;
    _background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/v5/r4/images/btn_album_play_hover.png',sizingMethod='crop');
}
.albumList ul li span.albumDate{
    display:block;
    width:120px;
    text-align:center;
    line-height:19px;
    margin:0px auto;
    color:#888;
    clear:both;
}


.commentBox{
    width:720px;
    margin:0px auto;
    clear:both;
    padding:0px 0px 6px;
    overflow:hidden;
}

.commentBox .loadingComment{
    padding:12px;
}


.N_B2{
    width:214px;
    overflow:hidden;
    background-color:#FFF;
    border:1px solid #D0D7F1;
    margin:4px auto 0px;
}
.N_B3{
    width:728px;
    height:90px;
    overflow:hidden;
    clear:both;
    margin:8px auto 0px;
}
.singerInfo{
    background:#FFF;
    border:1px solid #A2D3F2;
    border-top:none;
    padding-top:6px;
    overflow:hidden;
}
* html .singerInfo{
    width:222px;
}
.singerInfo dt{
    width:202px;
    height:268px;
    padding:4px;
    border-style:solid;
    border-color:#F3F3F3;
    border-width:1px 3px 3px 1px;
    margin:0px auto;
    overflow:hidden;
}
.singerInfo dd{
    margin: 0 5px;
    padding: 0 0 0 16px
}
.singerInfo dt img{
    width:200px;
    height:266px;
    border-style:solid;
    border-color:#DDD;
    border-width:1px;
}
.singerInfo .act_fav{
    border-top:1px solid #E3E7F7;
    border-bottom:1px solid #E3E7F7;
    height:34px;
    background:#fff url(../images/repeat-x.png) left -362px repeat-x;
    margin-top:6px;
    overflow:hidden;
}
.singerInfo .act_fav a{
    background:url(../images/icons.gif) 2px -208px no-repeat;
}
.singerInfo .act_fans a{
    background:url(../images/icons.gif) 3px -184px no-repeat;
}
.singerInfo .act_fav a{
    font-weight:bold;
    display:block;
    float:left;
    width:87px;
    height:34px;
    line-height:34px;
    margin:0px auto;
    padding-left:22px;
}
.singerInfo .act_fav p{
    color:#999;
    display:block;
    width:86px;
    height:34px;
    line-height:34px;
    float:left;
    text-align:center;
}
.singerInfo .act_grade{
    width:192px;
    clear:both;
    padding:10px 10px 6px 21px;
    margin:3px auto;
    border-top:1px solid #E3E7F7;
}
.singerInfo .act_grade strong{
    width:40px;
    height:13px;
    float:left;
    overflow:hidden;
    line-height:15px;
    overflow:hidden;
    color:#777;
}
.singerInfo .act_grade p.pop{
    clear:both;
    height:23px;
}
.singerInfo .act_grade p.stars{
    position:relative;
    width:80px;
    height:13px;
    float:left;
    background:url(../images/rating.gif) bottom left repeat-x;
    overflow:hidden;
}
.singerInfo .act_grade p.stars a{
    display:block;
    width:16px;
    height:13px;
    overflow:hidden;
    text-indent:-1000px;
    position:absolute;
    top:0px;
    z-index:3;
}
.singerInfo .act_grade p.stars a:hover{
    background:url(../images/rating.gif) top left repeat-x;
    z-index:2;
    left:0px;
}
.singerInfo .act_grade p.stars span.rating{
    width:40px;
    height:13px;
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    text-indent:-1000px;
    background:url(../images/rating.gif) top left repeat-x;
    overflow:hidden;
    z-index:1;
}
.singerInfo .act_grade p.rsp{
    width:60px;
    height:13px;
    float:left;
    color:#999;
    text-align:center;
    overflow:hidden;
}
.singerInfo .act_grade p.stars a.star_1{
    left:0px;
}
.singerInfo .act_grade p.stars a.star_1:hover{
    left:0px;
    width:16px;
}
.singerInfo .act_grade p.stars a.star_2{
    left:16px;
}
.singerInfo .act_grade p.stars a.star_2:hover{
    left:0px;
    width:32px;
}
.singerInfo .act_grade p.stars a.star_3{
    left:32px;
}
.singerInfo .act_grade p.stars a.star_3:hover{
    left:0px;
    width:48px;
}
.singerInfo .act_grade p.stars a.star_4{
    left:48px;
}
.singerInfo .act_grade p.stars a.star_4:hover{
    left:0px;
    width:64px;
}
.singerInfo .act_grade p.stars a.star_5{
    left:64px;
}
.singerInfo .act_grade p.stars a.star_5:hover{
    left:0px;
    width:80px;
}
.singerInfo .act_grade p.text{
    width:180px;
    clear:both;
    line-height:25px;
    color:#999;
    padding-top:4px;
}
.singerInfo .act_count{
    width:192px;
    height:56px;
    clear:both;
    overflow:hidden;
    border-top:1px solid #ECF4F7;
}
.singerInfo .act_count p{
    padding:2px 0;
    height:24px;
    line-height:24px;
    overflow:hidden;
}
.singerInfo .act_count a{
    display:block;
    height:24px;
    line-height:24px;
    font-weight:700;
}
.singerInfo .act_duole {
    margin: 0 5px;
    border-top:1px solid #ECF4F7;
}
.singerInfo .act_duole a {
    display:block;
    height:34px;
    line-height:34px;
    padding-left: 22px;
    background:url(../images/icons.gif) no-repeat 0 -1059px;
    margin-right: 22px;
}
.singerInfo .act_duole a:hover {
    text-decoration: none;
}
.singerInfo .act_duole a strong {
    cursor: pointer;
    float: left;
}
.singerInfo .act_duole a:hover strong {
    text-decoration: underline;
}
.singerInfo .act_duole a span {
    color: #ff6d7b;
    font-size: 10px;
    font-weight: bold;
    line-height: 24px;
    float: left;
    margin-left: 3px;
}
.singerInfo .act_duole a:hover span {
    text-decoration: none;
}