/*head样式*/
body {width:960px;margin:0px auto;clear:both;}
li{list-style-type:none;}/*在Firefox下,li标签前没有点,但在ie下,每个li标签前都会有一个点*/
.logo { overflow:hidden; float:left; padding:0 0 20px 10px;}
.logo a img {float:left;}
.search { float:right; height:62px; width:340px; padding:100px 30px 0 0; position:relative;}
.search p { float:left; padding:5px 0 0 30px;}
.search p a { text-decoration:none; color:#FF6600; padding:0 3px;}
.search p a.q { color:#B29380;} .search p a.x { color:#6633FF} .search p a.z { color:#000000;}
.search p a:hover { text-decoration:underline;}
.head .search .option_selected{width:64px;height:28px;padding:4px 0px 0px 6px;float:left;background:url(../images/common1.png) 28px -64px no-repeat;}
.head .search .search_box{height:32px;float:left;background:url(../images/repeat-x.png) 0px -252px repeat-x;overflow:hidden;}
.head .search .search_box input{width:200px;height:19px;line-height:19px;padding:2px ;font-size:14px;border:0px;float:left;margin:100px auto;margin-top:4px;}
.head .search .search_box button{width:66px;height:32px;border:0px;background:url(../images/common1.png) -16px -32px no-repeat;float:left;cursor:pointer;font-size:0px;line-height:0px;text-indent:-9999px;overflow:hidden;}

.head{overflow:hidden;width:960px;margin:0px auto;clear:both;}
.head .nav{width:960px;height:32px;clear:both;background:url(../images/repeat-x.png) left -128px repeat-x;position:relative;}
.head .nav ul.allcate{margin-top:1px;height:30px;float:left;overflow:hidden;background:url(../images/repeat-x.png) left top no-repeat;padding-top:0px;padding-left:4px;}
.head .nav ul.allcate li{float:left;height:17px;padding:6px 5px 0px 4px;margin-right:-3px;background:url(../images/repeat-x.png) right -192px no-repeat;overflow:hidden;}
.head .nav ul.allcate li span {font-size:14px;font-weight:bold;line-height:17px; }
.head .nav ul.allcate a{color:#000;float:left;white-space:nowrap;padding:0px 10px; text-decoration:none;}
.head .nav ul.allcate a:hover{color: #FFFF00;text-decoration:none;}
.head .user{width:960px;height:32px;clear:both;background:url(../images/repeat-x.png) left -160px repeat-x;}
.head .user .userbox{width:620px;height:28px;overflow:hidden;float:left;padding:2px;}
.head .user .userbox iframe{width:620px;height:28px;overflow:hidden;}
.head .user .X_N_A11{width:320px;height:16px;padding:8px 4px;float:right;text-align:right;line-height:16px;overflow:hidden;}
.head .user .X_N_A11 a{color:#333;color:#666;}
.center{margin:5px auto;overflow:hidden;}
.pageTitle .help{
	float:left;
	margin-right:16px;
	margin-top:9px;
	width:15px;
	height:0px;
	padding-top:15px;
	overflow:hidden;
	background:url(../images/ico_genre_help.png) no-repeat;
	margin-left:-8px;
}

.cTitle{
	width:auto;
}
.lbar{
	width:152px;
	padding-right:8px;
	float:left;
}
.lbar .today{
	width:148px;
	border:2px solid #FEFCDE;
	margin-top:6px;
}
.lbar .today dl{
	width:146px;
	border:1px solid #FFE0A2;
	border-bottom:0px;
}
.lbar .today dl dt{
	height:23px;
	line-height:23px;
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	border-color:#FFF #FFF #FFEBC2;
	background:#FEFCEE url(../images/icons.gif) 4px -730px no-repeat;
	text-indent:20px;
	color:#333;
}
.lbar .today dl dd{
	border-bottom:1px solid #FFE0A2;
}
.lbar .today dl dd.info{
	padding:8px;
	text-align:center;
}
.lbar .today dl dd.info .name{
	font-size:16px;
	margin:0px auto;
	display:block;
	line-height:24px;
	font-weight:bold;
}
.lbar .today dl dd.info .name a{
	color:#FF6600;
}
.lbar .today dl dd.info .date{
	font-size:11px;
	line-height:15px;
	color:#999;
	margin:0px auto;
	display:block;
}
.lbar .today dl dd.info .randplay{
	display:block;
	width:98px;
	height:0px;
	background:url(../images/btn_rendplay.png) 0px 0px no-repeat;
	padding-top:24px;
	overflow:hidden;
	margin:8px auto 0px;
}
.lbar .today dl dd.info .randplay:hover{
	background-position:0px -24px;
}
.lbar .today dl dd.songs{
	padding:4px 0px 8px;
}
.lbar .today dl dd.songs ul li{
	width:144px;
	height:25px;
	line-height:25px;
	text-indent:24px;
	background:url(../images/icons.gif) 7px -855px no-repeat;
	overflow:hidden;
}
.lbar .today dl dd.songs ul li a{
	color:#666;
	white-space:nowrap;
}
.lbar .today dl dd.songs .btn_playall{
	width:86px;
	height:0px;
	padding-top:25px;
	display:block;
	background:url(../images/btn_playall.png) no-repeat;
	margin:6px auto 0px;
	overflow:hidden;

}
.lbar .nexus{
	width:148px;
	border:2px solid #EDF8FE;
	margin-top:6px;
}
.lbar .nexus dl{
	width:146px;
	border:1px solid #D0D7F1;
}
.lbar .nexus dl dt{
	height:23px;
	line-height:23px;
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	border-color:#FFF #FFF #E0E5F6;
	background:#F3FAFE url(../images/icons.gif) 4px -763px no-repeat;
	text-indent:20px;
	color:#333;
}
.lbar .nexus dl dd{
	width:144px;
	overflow:hidden;
	padding:0px 1px;
}
.lbar .nexus dl dd ul{
}
.lbar .nexus dl dd ul li{
	border-bottom:1px solid #E7F1FA;
}
.lbar .nexus dl dd ul li a{
	width:144px;
	height:31px;
	line-height:31px;
	text-indent:8px;
	overflow:hidden;
	display:block;
	color:#666;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.lbar .nexus dl dd ul li a:hover{
	color:#F30;
}

.rbox{
	width:784px;
	float:right;
	padding:0px 8px;
}

.allGenre dl{
	width:784px;
	overflow:hidden;
	clear:both;
	padding:8px 0px;
}
.allGenre dl dt{
	height:28px;
	line-height:28px;
	background:url(../images/dashed_x.gif) 0px 13px repeat-x;
}
.allGenre dl dt strong{
	font-size:14px;
	float:left;
	padding:0px 8px 0px 16px;
	background:#FFF url(../images/icons.gif) 0px -792px no-repeat;
}
.allGenre dl dd{
	padding-left:16px;
}
.allGenre dl dd ul{
	
}
.allGenre dl dd ul li{
	height:22px;
	padding-top:8px;
	width:180px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	padding-left:12px;
	background:url(../images/icons.gif) 0px -820px no-repeat;
}
.allGenre dl dd ul li.hot a{
	color:#F50;	
}
.allGenre dl dd ul li a{
	color:#069;
	font-size:14px;
}
.allGenre dl dd ul li a:hover{
	color:#F30;
}

.orderBar{
	width:100%;
	height:32px;
	line-height:32px;
	border-bottom:1px solid #D5EAF9;
	margin-top:1px;
}
.orderBar strong{
	color:#999;
	font-weight:normal;
	margin-left:6px;
}
.orderBar a{
	margin-right:12px;
}
.orderBar a.thisclass{
	font-weight:bold;
	color:#F60;
}
.songList{
	width:784px;
	margin:4px auto;
	overflow:hidden;
	clear:both;
}
.songList ul li{
	width:245px;
	height:24px;
	line-height:24px;
	float:left;
	overflow:hidden;
	padding:4px 4px 0px 8px;
}
.songList ul li input{
	padding:0px;
	float:left;
	margin:2px 2px 0px 0px;
}
.songList ul li input[type='checkbox']{
	margin:6px 5px 0px 6px;
	+margin:2px 2px 0px;
}
.songList ul li a{
	color:#333;
}
.songList ul li a:hover{
	color:#F30;
}
.songList .listAction{
	width:100%;
	height:27px;
	margin:8px auto 8px;
	padding:8px 8px 8px;
	overflow:hidden;
	background:url(../images/dashed_x.gif) 0px 20px repeat-x;
}
.songList .listAction p{
	width:256px;
	margin:0px auto;
	padding:0px 6px;
	background-color:#FFF;
}
.songList .listAction a{
	height:0px;
	padding-top:26px;
	float:left;
	margin-right:8px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-image:url(../images/listAction.png);
	position:relative;
}
.songList .listAction a.select{
	width:82px;
	background-position:0px 0px;
}
.songList .listAction a.select:hover{
	background-position:0px -27px;
}
.songList .listAction a.play{
	width:62px;
	background-position:-82px 0px;
}
.songList .listAction a.play:hover{
	background-position:-82px -27px;
}
.songList .listAction a.add{
	width:88px;
	background-position:-144px 0px;
}
.songList .listAction a.add:hover{
	background-position:-144px -27px;
}

.singerList{
	margin:0px auto;
	padding:8px 0px;
}
.singerList ul{
	
}
.singerList ul li{
	width:112px;
	float:left;
	overflow:hidden;
	padding:8px 0px;
}
.singerList ul li a.singerPic{
	width:77px;
	height:102px;
	display:block;
	overflow:hidden;
	margin:0px auto;
	border:3px solid #F2F2F2;
}
.singerList ul li a.singerPic img{
	width:75px;
	height:100px;
	border:1px solid #FFF;
}
.singerList ul li a.singerPic:hover{
	border-color:#F3FED3;
}
.singerList ul li a.singerPic:hover img{
	border-color:#C2F821;
}
.singerList ul li a.singerName{
	width:96px;
	height:21px;
	line-height:21px;
	overflow:hidden;
	display:block;
	margin:0px auto;
	text-align:center;
	color:#690;
	padding-top:5px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.pageTitle p{
	float:right;
	padding:9px 5px 0 0;
	color:#4c4c4c;
}
.pageTitle p a{
	color:#4c4c4c;
}
.pageTitle p a:hover{
	color:#F30;
}

/*底部样式*/
.foot { margin-top:20px; width:960px; overflow:hidden; width:960px;}
.footer {  color:#888888; text-align:center; padding-top:10px;}
.footer a { text-decoration:none; color:#888888; line-height:29px; margin:0 6px;}
.footer a:hover { text-decoration:underline;}
.copyright { text-align:center; color:#888888; line-height:29px;}
.copyright a { font-size:16px; color:#FF0000; text-decoration:none;}
.copyright a:hover { text-decoration:underline;}
.support { color:#888888; text-align:center;}
.support span { margin:0 10px; line-height:29px;}